$body-bg: rgba(255, 255, 255, 0.45);;

// Import Bootstrap and its default variables
@import "./node_modules/bootstrap/scss/bootstrap.scss";

.portfolio-block.cv .group:not(:first-child) {
    margin-top: 80px;
    position: relative;
    max-width: 50%;
    max-height: 50%;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-right: auto;
    margin-left: auto;
    
  }
  .period{
    text-align: right;
    margin-left: 50px;
  }
  .portfolio-block.cv .group {
    max-width: 800px;
    margin: auto;
  }
  .organization{
    
    max-width: 60%;
    font-size: 15px;
    text-align: left;
  }
  .about-me{
    position: relative;
    max-width: 50%;
    max-height: 50%;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .bachelor{
    text-align: left;
  }

  .item{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color:  rgba(255, 255, 255, 0.616) !important;
    transition: transform .13s;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
    animation-name: animate-pop;
  }

  .item2{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color:  rgba(255, 255, 255, 0.616) !important;
    transition: transform .13s;
    animation-duration: 0.8s;
    animation-direction: normal;
    animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
    animation-name: animate-pop;
  }

.date{
  max-height: 40px;
  margin-top: 40px !important;
}

@media screen and (max-width: 770px) {
  .date{
    margin-top: 0px !important;
  }
  .period{
    
    margin-left: 0px;
  }
}
  .item:hover{

    transform: scale(1.04); 
  }
  .item2:hover{

    transform: scale(1.04); 
  }

  .titlecollege{
    margin-top: 50px;
  }
  