$body-bg: #ffff;
$enable-shadows: 'shadow-sm';

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    offset: 20px;
    
    .TitleName{
        margin-top: 500px;
        text-align: center;
        
    }
    .about-me{
        position: relative;
        max-width: 50%;
        max-height: 50%;
        text-align: center;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    .container{
        border-color: black;
        
    }
}
  
  
