@import "./node_modules/bootstrap/scss/bootstrap.scss";

.contact{
    
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    offset: 0px;
    background-color:  rgba(255, 255, 255, 0.616) !important;
}

.skTitle{
    margin-top: 70px;
    text-align: center;
}
.skContainer{
    
    max-width: 41% !important;
    margin-top: 20px;
    text-align: center !important  
}

.skRow{
    align-items: center !important;
    margin-top: 20px !important;
}

.skCol{
    margin-left: 5px;
    margin-right: 5px;
    background-color:  rgba(255, 255, 255, 0.616) !important;
    border-radius: 10px;
    max-height: 45px;
    transition: transform .2s;
}

.skCol:hover{
    background-color:  rgba(29, 29, 29, 0.35) !important;
    color: white;
    transform: scale(1.1); 
}

.skItem{
    margin-top: 5px;
    font-size: 1.3vw;
}


@media screen and (max-width: 770px) {
    .skContainer{
        max-width: 95% !important;
    }
    .skItem {
      font-size: 15px;
      margin-bottom: 2px;
    }
}

.contactdata{
    text-align: center;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

